/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.loginPage{

        background-color: #e6f7ff; 
        padding: 20px; 
        border-radius: 8px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        width: 300px; 
        margin: 0 auto; 
      
}

.signupPage {

    background-color: #e6f7ff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: 400px; 
    margin: 0 auto; 
}



